<ul>
  <% @places.each do |place| %>
    <li>
      <p>
        <%= link_to place.title, "/places/#{place.title}" %>
         ($<%= place.admission_price.to_f/100 %>)
      </p>
    </li>
  <% end %>
</ul>